@import "./libs/fonts";


@import "./base/variables";
// @import "./base/mixins";
@import "./base/media";
@import "./base/animations";
@import "./base/loader";
html {
    font-size: 10px;
    scroll-behavior: smooth;
}
* {
    margin: 0;
    padding: 0;
    font-family: 'Ubuntu', sans-serif;
    box-sizing: border-box;
    text-decoration: none;
}
::selection {
    background-color: $main-color;
}

::-webkit-scrollbar {
    width: 1rem;
    background-color: #f1f1f1;
    &:hover {
        width:1.5rem;
    }
}

::-webkit-scrollbar-thumb {
    background-color: #353b48;
}
.page {
    width: 100%;
    position: absolute;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    font-size: 1.4rem;
    color: #322A33;
    background-color: #f1f1f1;
}
.container {
    max-width: 130rem;
    margin: 0 auto;
    padding: 0 4rem;
}

@import "./blocks/navbar";
@import "./blocks/header";
@import "./blocks/about";
@import "./blocks/titles";
@import "./blocks/services";
@import "./blocks/education";
@import "./blocks/works";
@import "./blocks/buttons";
@import "./blocks/contacts";
@import "./blocks/footer";
@import "./blocks/socicons";
@import "./blocks/gotop";
@import "./blocks/modal";
@import "./blocks/skills";
