.about {
    padding: 10rem 0;
    &__subtitle {
        margin-top: 3rem;
       text-align: center;
    }
    &__content {
        display: flex;
        align-items: center;
    }
    &__pic {
        display: block;
        width: 200px;
        margin-right: 6rem;
        box-shadow: 0 0 3px 3px #474760;
        border: 2px solid #474760;
        border-radius: 50%;
        background-color: #ccc;
    }
    &__text {
        h2 {
            font-size: 2rem;
        }
        h3 {
        margin: 1rem 0;
        font-size: 1.6rem;
            span{
                &:nth-child(1) {
                    position: relative;
                    margin-right: 1rem;
                    &:after {
                        content: "";
                        position: absolute;
                        width: .6rem;
                        height: .6rem;
                        background-color: #444;
                        display: inline-block;
                        border-radius: 50%;
                        top: 6px;
                        right: -11px;
                    }
                }
            }
        }
        p {
            font-size: 1.7rem;
            text-align: justify;
            line-height: 2.6rem;
            margin-top: 2rem;
        }
    }
}
 
