.gotop {
    position: fixed;
    font-size: 2rem;
    z-index: 999;
    bottom: 4rem;
    right: 4rem;
    width: 4rem;
    height: 4rem;
    background-color: $main-color;
    border: none;
    border-radius: 6px;
    cursor: pointer;
    color: #fff;
    outline: none;
    display: none;
}