.header {
    height: 100vh;
    min-height: 50rem;
    background: linear-gradient(-45deg, #52648b,#474760,#52648b,#322A33);
    background-size:  400% 400%;
    // background-attachment: fixed;
    animation: bgchange 10s ease-in-out infinite;
    .container {
        display: flex;
        align-items: center;
        justify-content: center;
        height: 100%;
        text-align: center;
    }
    &__content {
        width: 100%;
        color: #fff;
    }
    &__title {
        font-size: 6rem;
        margin-bottom: 6rem;
        
        &::after {
            content: "Привет, Я Лукашев Валентин";
            animation: titleanim 10s linear infinite;
        }
    }
}